body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 16px;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.block {
    margin-top: 10px;
    padding: 6px 14px;
    font-size: 14px;
}
.code {
    font-family: 'Roboto Mono', monospace;
}
#toolbar .title {
    cursor: move;
    text-align: center;
    color: #aaa;
    background-color: #eee;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
}
#toolbar .subtitle {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: #999;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
.move-icon {
    width: 32px;
    height: 32px;
    margin: -7px;
    margin-left: 0;
    opacity: .3;
    float: left;
}
#toolbar .title:hover {
    background-color: #f5f5f5;
}
#toolbar {
    position: fixed;
    z-index: 100000;
    right: 50px;
    top: 100px;
    width: 220px;
    padding: 12px;
    background-color: #ddd;
    border: 1px solid #fff;
}
#toolbar .text {
    background-color: #42ff00;
}
#toolbar .style {
    background-color: #FFB6C1;
}
#toolbar .coords {
    background-color: #fff;
}
#dropzone {
    width: 500px;
    border: 1px #ababab dashed;
    margin: 100px auto;
}
#dropzone p {
    text-align: center;
    padding: 100px 0;
    margin: 0;
}
#image {
    position: relative;
}
.layer {
    position: absolute;
}
#image:hover .layer {
    border: 1px solid rgba(255,0,0,.5);
    margin: -1px;
}
#image .layer:hover {
    background-color: rgba(180, 180, 180, .25);
    margin: -2px;
    border: 2px solid red;
}
.btn {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    background-color: #555;
    color: #42ff00;
    border: 0;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid #333;
}
.sty {
    right: 39px;
    color: #FFB6C1;
}
.transp {
    background: transparent;
    opacity: .001;
    border: 0;
    width: 5px;
    height: 5px;
}
.layer:hover .btn { opacity: 1; }
.layer .btn:hover {background-color: #888; }
#rulerX {
    background-color: #bbb;
    position: absolute;
    height: 2px;
    pointer-events: none;
}
#rulerY {
    background-color: #bbb;
    position: absolute;
    width: 2px;
    pointer-events: none;
}
.size-icon {
    display: inline-block;
    width: 22px;
    text-align: center;
    padding: 3px;
}
.limit-height {
    max-height: 150px;
    overflow-y: auto;
}
#howitworks {
    margin: 30px auto;
    max-width: 500px;
}
#howitworks video {
    width: 100%;
}

.half {
    float: left;
    width: 50%;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    margin-top: 14px;
    border: 1px solid white;
    float: right;
    outline: 1px solid black;
}
.color-hex {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
#toolbar .info.initial .color-box {
    display: none;
}
#toolbar .info.initial .color-hex {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}